@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/pc.png" alt="Failed to Load" width="100" />
    <h1 class="display-4">Welcome, Sell your PC Parts here!</h1>
    <p>Welcome, If you would like to sell your own PC parts you have. Create an account and post your products you have available.</p>
</div>
