@model Lab5_PersonalPage.Controllers.SellerInformation

@{
    ViewData["Title"] = "Edit";
}

<!--
This is where you can edit the users Information
-->

<h4>Seller Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SellerID" />
            <div class="form-group">
                <label asp-for="First_Name" class="control-label"></label>
                <input asp-for="First_Name" class="form-control" />
                <span asp-validation-for="First_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_Name" class="control-label"></label>
                <input asp-for="Last_Name" class="form-control" />
                <span asp-validation-for="Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City_Location" class="control-label"></label>
                <input asp-for="City_Location" class="form-control" />
                <span asp-validation-for="City_Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year_Joined" class="control-label"></label>
                <input asp-for="Year_Joined" class="form-control" />
                <span asp-validation-for="Year_Joined" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selling_Computer_Part" class="control-label"></label>
                <input asp-for="Selling_Computer_Part" class="form-control" />
                <span asp-validation-for="Selling_Computer_Part" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Part_Condition" class="control-label"></label>
                <input asp-for="Part_Condition" class="form-control" />
                <span asp-validation-for="Part_Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
