
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE HTML>

<html>

<head>

    <title>You can appraise your book here!</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>


<body>

<h1><img width="75" src="~/books.png" alt="Alternate Text" />Students4Cheap Textbooks <img width="75" src="~/books.png" alt="Alternate Text" /> </h1>
<ul>
    <li><a class="active" href="~/Home/Index">Home</a></li>
    <li><a href="~/Home/Register">Appraise a Book</a></li>
    <li><a href="~/Home/ViewAppraisals">View Previous Appraisals</a></li>
</ul>

<div>

    <h4>What we are about:</h4>

    <p>
        Students4CheapTextbooks is a student group focused on bringing you the cheapest possible price for a textbook. Did you know, that the average student spends $600
        on textbooks per semester. Our focus is to try and bring that amount down as low as we possibly can be. If you have a used textbook to sell, click on the appraise
        button in the navigation bar above and we will get you a price for the book. Thanks so much for coming to our site.
    </p>
</div>
</body>
</html>
