
@{
    ViewData["Title"] = "DoSomething";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Do Something</title>

    
</head>
<body>

    <p>Hello from the DoSomething View</p>
</body>
</html>

