
@{
    ViewData["Title"] = "somethingDone";
}


<!DOCTYPE HTML>

<html>

<head>



</head>


<body>

    <h2>Welcome to the something done page.</h2>

    <br /> <br />

    <input type="text" name="username" placeholder="Username" />

</body>

</html>

