
@{
    ViewData["Title"] = "Bad";
}

<!DOCTYPE HTML>

<html>

<head>
    <title> somethign bad</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css"/>


</head>


<body>
    <ul>
        <li><a class="active" href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Register">Register</a></li>


    </ul>

    <h3> The model car could not be created you entered something incorrectly.</h3>


</body>

</html>
