
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE HTML>

<html>

<head>

    <title>Something Fancy to Appraise</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>


<body>

    <h1>Some Fancy Website (Not Really) </h1>

    <ul>
        <li><a class="active" href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Register">Register</a></li>


    </ul>

    <div class="center">

        <h3>About</h3>

        <h4>
            This is just a sample ASP.NET CORE application, that is compatible with ASP.NET CORE 3.1 and ASP.NET CORE 2.1.
            We have 3 different views, Index, Reigster, and Registered. We are using this application to evaluate the cost of a car,
            when it gets registered.

        </h4>

    </div>


</body>


</html>
