
@{
    ViewData["Title"] = "Registered";
}

<!DOCTYPE HTML>

<html>

<head>

    <title>Something Fancy to Appraise</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>


<body>

    <h1>Registered</h1>

    <ul>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a class="active" href="~/Home/Register">Register Again</a></li>


    </ul>

    <h3> @ViewData["Message"]</h3>

    <h3> @ViewData["Appraisal"]</h3>

</body>


</html>



